<div class="d-block">
    <div class="clearfix"></div>
    <div class="">
        <div class="d-flex justify-content-between align-items-center">
            <div class="title-left">
                業務アカウント
            </div>
            <div class="right-align">
                <div class="btn btn-default btn-square btn-black">業務アカウント作成</div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- form search -->
    <%= render "layouts/account_business/form_search" %>
    <!-- /form search-->
    <div class="clearfix"></div>
    <div class="row">
        <div class="clearfix"></div>
        <div class="col-md-12 col-sm-12  ">
            <div class="x_panel">
                <div class="x_content">
                    <div class="container">
                        <%= yield %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
