<div class="search-area">
    <div class="row">
        <div class="col-sm-6">
            <label class="label-text col-sm-2">名前</label>
            <input type="text" class="form-control input-text col-sm-6" placeholder="名前">
        </div>
        <div class="col-sm-6">
            <label class="label-text col-sm-3">メールアドレス</label>
            <input type="text" class="form-control input-text col-sm-6" placeholder="メールアドレス">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <label class="label-text col-sm-2">権限</label>
            <select class="select-option form-control col-sm-6 custom-select" style="width:100%">
                <option></option>
                <option>未連携</option>
                <option>連携中</option>
                <option>連携済</option>
            </select>
        </div>
        <div class="col-sm-6">
            <label class="label-text col-sm-3">ステータス</label>
            <select class="select-option form-control col-sm-6 custom-select" style="width:100%">
                <option></option>
                <option>利用中</option>
                <option>停止中</option>
            </select>
        </div>
    </div>
    <div class="bottom-search">
        <div class="col right-align">
            <div class="btn btn-default btn-square btn-black">検索する</div>
            <div class="btn btn-default btn-square btn-white">クリア</div>
        </div>
    </div>
</div>
