<div class="row">
    <div class="col-4">
        総件数 : 300件
    </div>
    <div class="col-4 justify-content-md-center d-flex">
        <%= render "layouts/pagination" %>
    </div>
    <div class="col-4">
        <div>
            <label class="label-text col-sm-8" style="text-align: right">件数</label>
            <select class="select-option form-control col-sm-3 custom-select" style="width:100%; float: right">
                <option>10</option>
                <option>50</option>
                <option>100</option>
            </select>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table jambo_table bulk_action">
        <thead>
            <tr class="headings">
                <th class="column-title">名前 <i class="fa fa-caret-down"></i></th>
                <th class="column-title">メールアドレス </th>
                <th class="column-title">Gsuite連携 </th>
                <th class="column-title">MS365連携 </th>
                <th class="column-title">ステータス </th>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="pointer">
                <td class=" ">名前</td>
                <td class=" ">example@gmail.com </td>
                <td class=" "><span class="glyphicon glyphicon-refresh"></span></td>
                <td class=" "><span class="glyphicon glyphicon-ok"></span></i></td>
                <td class="text_red">停止中</td>
            </tr>
            <tr class="pointer">
                <td class=" ">名前</td>
                <td class=" ">example@gmail.com </td>
                <td class=" "><span class="glyphicon glyphicon-refresh"></span></td>
                <td class=" "><span class="glyphicon glyphicon-edit"></span></i></td>
                <td class=" ">停止中</td>
            </tr>
            <tr class="pointer">
                <td class=" ">名前</td>
                <td class=" ">example@gmail.com </td>
                <td class=" "><span class="glyphicon glyphicon-refresh"></span></td>
                <td class=" "><span class="glyphicon glyphicon-ok"></span></i></td>
                <td class="text_red">停止中</td>
            </tr>
            <tr class="pointer">
                <td class=" ">名前</td>
                <td class=" ">example@gmail.com </td>
                <td class=" "><span class="glyphicon glyphicon-refresh"></span></td>
                <td class=" "><span class="glyphicon glyphicon-edit"></span></i></td>
                <td class=" ">停止中</td>
            </tr>
            <tr class="pointer">
                <td class=" ">名前</td>
                <td class=" ">example@gmail.com </td>
                <td class=" "><span class="glyphicon glyphicon-refresh"></span></td>
                <td class=" "><span class="glyphicon glyphicon-ok"></span></i></td>
                <td class="text_red">停止中</td>
            </tr>
            <tr class="pointer">
                <td class=" ">名前</td>
                <td class=" ">example@gmail.com </td>
                <td class=" "><span class="glyphicon glyphicon-refresh"></span></td>
                <td class=" "><span class="glyphicon glyphicon-edit"></span></i></td>
                <td class=" ">停止中</td>
            </tr>
            <tr class="pointer">
                <td class=" ">名前</td>
                <td class=" ">example@gmail.com </td>
                <td class=" "><span class="glyphicon glyphicon-refresh"></span></td>
                <td class=" "><span class="glyphicon glyphicon-ok"></span></i></td>
                <td class="text_red">停止中</td>
            </tr>
            <tr class="pointer">
                <td class=" ">名前</td>
                <td class=" ">example@gmail.com </td>
                <td class=" "><span class="glyphicon glyphicon-refresh"></span></td>
                <td class=" "><span class="glyphicon glyphicon-edit"></span></i></td>
                <td class=" ">停止中</td>
            </tr>
            <tr class="pointer">
                <td class=" ">名前</td>
                <td class=" ">example@gmail.com </td>
                <td class=" "><span class="glyphicon glyphicon-refresh"></span></td>
                <td class=" "><span class="glyphicon glyphicon-ok"></span></i></td>
                <td class="text_red">停止中</td>
            </tr>
            <tr class="pointer">
                <td class=" ">名前</td>
                <td class=" ">example@gmail.com </td>
                <td class=" "><span class="glyphicon glyphicon-refresh"></span></td>
                <td class=" "><span class="glyphicon glyphicon-edit"></span></i></td>
                <td class=" ">停止中</td>
            </tr>
            <tr class="pointer">
                <td class=" ">名前</td>
                <td class=" ">example@gmail.com </td>
                <td class=" "><span class="glyphicon glyphicon-refresh"></span></td>
                <td class=" "><span class="glyphicon glyphicon-ok"></span></i></td>
                <td class="text_red">停止中</td>
            </tr>
            <tr class="pointer">
                <td class=" ">名前</td>
                <td class=" ">example@gmail.com </td>
                <td class=" "><span class="glyphicon glyphicon-refresh"></span></td>
                <td class=" "><span class="glyphicon glyphicon-edit"></span></i></td>
                <td class=" ">停止中</td>
            </tr>
            <tr class="pointer">
                <td class=" ">名前</td>
                <td class=" ">example@gmail.com </td>
                <td class=" "><span class="glyphicon glyphicon-refresh"></span></td>
                <td class=" "><span class="glyphicon glyphicon-ok"></span></i></td>
                <td class="text_red">停止中</td>
            </tr>
            <tr class="pointer">
                <td class=" ">名前</td>
                <td class=" ">example@gmail.com </td>
                <td class=" "><span class="glyphicon glyphicon-refresh"></span></td>
                <td class=" "><span class="glyphicon glyphicon-edit"></span></i></td>
                <td class=" ">停止中</td>
            </tr>
        </tbody>
    </table>
    <div class="justify-content-md-center d-flex">
        <%= render "layouts/pagination" %>
    </div>
</div>
<!-- modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-custom">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div for="" class="form-group">MS365連携用メールアドレス</div>
                    <div class="input_group">
                        <input type="text" class="form-control input-text col-8 input-email">
                        <div class="btn btn-default btn-square btn-black button-link">検索する</div>
                    </div>                    
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /modal -->