<div class="row">
    <div class="col-4">
        総件数 : 300件
    </div>
    <div class="col-4 justify-content-md-center d-flex"">
        <%= render "layouts/pagination" %>
    </div>
    <div class="col-4">
        <div>
            <label class="label-text col-sm-8" style="text-align: right">件数</label>
            <select class="select-option form-control col-sm-3 custom-select" style="width:100%; float: right">
                <option>10</option>
                <option>50</option>
                <option>100</option>
            </select>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table jambo_table bulk_action">
        <thead>
            <tr class="headings">
                <th class="column-title">名前 <i class="fa fa-caret-down"></i></th>
                <th class="column-title">メールアドレス </th>
                <th class="column-title">権限 </th>
                <th class="column-title">ステータス </th>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="pointer">
                <td class=" ">名前</td>
                <td class=" ">example@gmail.com </td>
                <td class=" ">管理者</td>
                <td class="text_red">停止中</td>
            </tr>
            <tr class="pointer">
                <td class=" ">名前</td>
                <td class=" ">example@gmail.com </td>
                <td class=" ">管理者</td>
                <td class=" ">利用中</td>
            </tr>
            <tr class="pointer">
                <td class=" ">名前</td>
                <td class=" ">example@gmail.com </td>
                <td class=" ">一般</td>
                <td class="text_red">停止中</td>
            </tr>
            <tr class="pointer">
                <td class=" ">名前</td>
                <td class=" ">example@gmail.com </td>
                <td class=" ">一般</td>
                <td class=" ">利用中</td>
            </tr>
            <tr class="pointer">
                <td class=" ">名前</td>
                <td class=" ">example@gmail.com </td>
                <td class=" ">一般</td>
                <td class="text_red">停止中</td>
            </tr>
            <tr class="pointer">
                <td class=" ">名前</td>
                <td class=" ">example@gmail.com </td>
                <td class=" ">一般</td>
                <td class=" ">利用中</td>
            </tr>
            <tr class="pointer">
                <td class=" ">名前</td>
                <td class=" ">example@gmail.com </td>
                <td class=" ">一般</td>
                <td class="text_red">停止中</td>
            </tr>
            <tr class="pointer">
                <td class=" ">名前</td>
                <td class=" ">example@gmail.com </td>
                <td class=" ">一般</td>
                <td class="text_red">停止中</td>
            </tr>
        </tbody>
    </table>
    <div class="justify-content-md-center d-flex">
        <%= render "layouts/pagination" %>
    </div>
</div>