<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="clearfix"></div>
        <div class="profile clearfix">
            <div class="logo_menu">
                <div class="text-center">LOGO</div>
                <div class="text-center">SAMPLE</div>
            </div>
        </div>
        <br>
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section active">
                <ul class="nav side-menu">
                    <li style="text-align: center">
                        <a href="admin_business">
                            <%= image_tag "business_account.png", class: "img-circle profile_img" %>
                            <p> 業務アカウント </p>
                        </a>
                    </li>
                    <li style="text-align: center">
                        <a href="/">
                            <%= image_tag "uf_account.png", class: "img-circle profile_img" %>
                            <p> UFアカウント </p>
                        </a>
                    </li>
                    <li style="text-align: center">
                        <a>
                            <%= image_tag "invoice.png", class: "img-circle profile_img" %>
                            <p> 請求情報 </p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
