<div class="top_nav">
    <div class="nav_menu">
        <nav class="nav navbar-nav">
            <ul class=" navbar-right">
                <li class="nav-item dropdown open" style="padding-left: 15px;">
                    <a href="javascript:;" class="user-profile dropdown-toggle caret-off" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                        <%= image_tag "img_avatar.png", class: "img-circle profile_img img_avatar" %>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <form class="px-4 py-3">
                            <div class="form-group">
                                <div class="text-center mb-2">
                                    <%= image_tag "img_avatar.png", class: "img-circle img_avatar" %>
                                </div>
                                <div class="text-center mb-2">Nameさんでログイン中です</div>
                                <div class="btn btn-default btn-square btn-black form-control">アカウント管理</div>
                                <div class="btn btn-default btn-square btn-black form-control">会社情報管理</div>
                                <div class="btn btn-default btn-square form-control"><%= link_to 'ログアウト', nil %></div>
                            </div>
                        </form>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>
