<!DOCTYPE html>
<html>
    <head>
        <title>UF System</title>
        <%= csrf_meta_tags %>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    </head>
    <body class="nav-md">
        <div class="container body">
            <div class="main_container">
                <!-- sidebar -->
                <%= render "layouts/sidebar" %>
                <!-- /sidebar -->
                <!-- top navigation -->
                <%= render "layouts/topnav" %>
                <!-- /top navigation -->
                <!-- page content -->
                <div class="right_col" role="main">
                    <%= render "layouts/account_uf/content" %>
                    <a id="back-to-top" href="#" class="btn back-to-top" role="button" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
                </div>
                <!-- /page content -->
                <!-- footer -->
                <%= render "layouts/footer" %>
                <!-- /footer -->
            </div>
        </div>
        <%= javascript_include_tag "application", 'data-turbolinks-track': "reload" %>
    </body>
</html>
